.heading{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    text-align: center;
    display: 'flex';
    font-weight: bolder;

    /* font-size: 2vw; */
    padding-top: 6%;
    padding-bottom: 1%;
    /* justifyContent: 'Left';
    alignItems: 'Left'; */
    /* height: '100%'; */
    /* padding-top: 450px, */
}

.paragraph{
    text-align: center;
    font-weight: bold;
    /* font-size: 2vw; */
    /* padding: 7% */
}
