.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: 'flex';
    padding-top: 6%;
    padding-bottom: 1%;
    font-weight: 1000;
    font-weight: bolder;

    /* justifyContent: 'Left';
    alignItems: 'Left'; */
    height: '100%'
}

.introduction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: 'flex';
    height: '100%';
    font-weight: bold;

}

.central-img{
    height:50%;
    width:50%;
}

.formers{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: 'flex';
    font-weight: bold;

    /* justifyContent: 'Left';
    alignItems: 'Left'; */
    height: '100%',
}

.suburban{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;

    /* display: flex; */
    height: '100%';
}