.title-city{
    text-align: center;
    display: 'flex';
    font-weight: bolder;

    /* font-size: 2vw; */
    padding-top: 6%;
    padding-bottom: 1%;
    background-color: aqua;

}

.introduction-city{
    text-align: left;
    display: 'flex';
    font-weight: bolder;
    background-color: aqua;
    text-align: center;
    /* font-size: 2vw; */
    /* padding-top: 6%; */
    padding-bottom: 3%;
}

.town-hall{
    text-align: center;
    display: 'flex';
    font-weight: bolder;
    padding-top: 1%;
    line-height: 200%;
}

.light-rail-th{
    color: red;
}